html {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 500px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Jua', sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #283048, #39485c, #4f6170, #687a84, #859398);
}
#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 60%;
  height: 35%;
  max-width: 250px;
  max-height: 250px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  box-shadow: 5px 5px 30px black;
  opacity: 0.8;
  transition: all 0.5s;
}
.modal:hover {
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
